.update-profile {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid;
    font-weight: 200;
    padding-left: 0;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}