{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="container mt-2 p-5"
         style="border-radius: 5px; background: rgb(247, 247, 247);">
        <div class="row">
            <div class="col-8">
                <h2 style="margin: auto; "> Change password </h2>
            </div>
            <div class="col-4">
                <img src="{% static 'outline_account_circle.png' %}"/>
            </div>
        </div>
        {% if error %} 
        <div class="alert alert-warning" role="alert">
          {{ error }}
        </div>
        {% endif %}
        {% if success %} 
        <div class="alert alert-success" role="alert">
          {{ success }}
        </div>
        {% endif %}

        <hr />

        <form class="" style="margin: auto; width: 100%;"
            method="POST" action="{% url 'profile' %}">
            {%  csrf_token %}
            {{form.as_p}}
            <!-- <div class="form-group">
                <label for="first_name" style="font-size: 10px;">First name</label>
                <p>{{user_form.first_name}}</p>
                <p>{{user_form.first_name.errors}}</p>
                <hr>
            </div>
            <div class="form-group">
                <label for="last_name" style="font-size: 10px;">Last name</label>
                <p>{{user_form.last_name}}</p>
                <p>{{user_form.last_name.errors}}</p>
                <hr>
            </div>
            <div class="form-group">
                <label for="email" style="font-size: 10px;">Email</label>
                <p>{{user_form.email}}</p>
                <p>{{user_form.email.errors}}</p>
                <hr>
            </div>
            <div class="form-group">
                    <label for="password-confirm" style="font-size: 10px;">Enter your password to confirm changes.</label>
                    <p>{{user_form.password_confirm}}</p>
                    <p>{{user_form.password_confirm.errors}}</p>
                    <hr>
                </div> -->
            <div class="form-row">
                <input
                    class="btn btn-primary animated pulse"
                    style="background: linear-gradient(to right, rgb(36, 198, 220), rgb(81, 74, 157));
                            margin: 0 auto; width: 60%;"
                    type="submit"
                    value="Submit changes"/>
            </div>
        </form>
        <!-- <a href="">Change password</a> -->
        <!-- <a onclick="javascript:window.location.href='{% url 'change_password' %}';">Change password</a> -->

        <a class="pl-3"><img src="{% static 'outline_edit.png' %}"/></a>
    </div>
</div>
{% endblock %}
