{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="mt-3 p-5"
         style="height: calc(100vh-24px);
            border-radius: 5px; width:400px;
            background: rgb(247, 247, 247);">
          <h1 style="margin: auto; width: 140px;"> Register </h1>
          <hr />
          {% if error %}
          <p style="color: rgb(135, 18, 18);">{{ error }}</p>
          <br />
          {% endif %}

          <form class="p-8 mx-auto" style="margin: auto; width: 100%;"
                method="POST" action="{% url 'signup' %}">
          {%  csrf_token %}
          <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName" class="sr-only">First name</label>
                    <input class="form-control" id="inputFirstName" type="text" placeholder="first name" required autofocus>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName" class="sr-only">Last name</label>
                    <input class="form-control" id="inputLastName" type="text" placeholder="last name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputUsername" class="sr-only">user name</label>
                <input type="email" id="inputUsername" class="form-control" placeholder="user name" required>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="sr-only">email</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="email" required>
            </div>
            

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password" class="sr-only">password</label>
                    <input type="password" id="password" class="form-control" placeholder="password" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="passwordrepeat" class="sr-only">repeat password</label>
                    <input type="password" id="passwordrepeat" class="form-control" placeholder="repeat password" required>
                </div>
            </div>

            <div class="form-row">
                <label for="roleSelect" 
                    style="font-weight: bold;">Your role at Code?</label>
                <select class="form-control" id="roleSelect" required>
                    <!-- To do: dynamic loop through user_type table -->
                    {% for usertype in usertypes %}
                    <option>{{ usertype }}</option>
                    {% endfor %}
                </select>
            </div>
            <br />

            <div class="form-row">
                <label class="form-check-label" for="form-check" style="font-weight: bold;">
                    Your field of study?
                </label>
                <!-- To do: dynamic loop through department table -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Interaction Design
                    </label>
                    <br>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Product Management
                    </label>
                    <br>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Software Engineering
                    </label>
                    <br>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                        Science, Technology & Society
                    </label>
                    <br>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                    <label class="form-check-label" for="defaultCheck5">
                        Other
                    </label>
                </div>
            </div>
            <br />
            <div class="form-row">
                <input 
                    class="btn btn-primary animated pulse"
                    style="background: linear-gradient(to right, rgb(36, 198, 220), rgb(81, 74, 157)); 
                        margin: 0 auto; width: 60%;"
                    type="submit"
                    value="Create account"/>
            </div>
          </form>
          <br/>
          <br/>
          <div class="d-flex justify-content-end">
                <a href="{% url 'login'%}">Login</a>
          </div>
    </div>
</div>
{% endblock %}