{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<body>
    <div class="container">
        <form class="p-5 mx-auto" style="width: 600px">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="text">Title</label>
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group col-md-6">
                    <label for="url">URL</label>
                    <input type="url" class="form-control" placeholder="URL">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlSelect1">Media Type</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <!-- TODO: Loop through media types from database
                        {% for media in media_type_name %}
                        <option>{media.media1}</option>
                        {% endfor %} -->

                        <option>Book</option>
                        <option>Link</option>
                        <option>Magazine</option>
                        <option>Video</option>
                        <option>Image</option>
                        <option>Online Course</option>
                        <option>Article</option>
                        <option>Software/Tools</option>
                        <option>Slides</option>
                        <option>Audio/Podcast</option>
                        <option>Library</option>
                        <option>Database</option>
                        <option>Blog</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleFormControlSelect1">Department</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Software Engineering</option>
                        <option>Product Management</option>
                        <option>Interaction Design</option>
                        <option>Science, Technology & Society</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="textbox">Description</label>
                <input type="textbox" class="form-control" placeholder="Description">
            </div>

            <div class="checkbox">
                <label> Is it free?
                    <input type="checkbox" value="" name="free">
                </label>
            </div>
            <br/>

          <button type="submit" class="btn btn-primary">Add Resource</button>

        </form>
    </div>
</body>

{% endblock %}