{% extends 'base.html' %}

{% block content %}

<main role="main">
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">CODE Resource Center</h1>
        <p class="lead text-muted">Find your resources here</p>
        <div class="row">
            <form class="form-inline" >
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div>
                <a class="btn btn-primary" href="#" role="button">STS</a>
                <a class="btn btn-primary" href="#" role="button">ID</a>
                <a class="btn btn-primary" href="#" role="button">SE</a>
                <a class="btn btn-primary" href="#" role="button">PM</a>
                <a class="btn btn-primary" href="#" role="button">All</a>
            </div>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
</main>

{% endblock %}

