{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<!-- <form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Save'/>
</form> -->

 
<body>
    <div class="container">
        <h1>Add a New Resource</h1>
        <form method="POST" action="{% url 'create' %}" class="p-5 mx-auto" style="width: 600px">
        {% csrf_token %}
            <div class="form-group">
                <label for="text">Title</label>
                <!-- <input type="text" class="form-control" placeholder="Title" name="title"> -->
                {{ form.title }}
            </div>
            
            <div class="form-group">
                <label for="url">URL</label>
                <!-- <input type="url" class="form-control" placeholder="URL" name="url"> -->
                {{ form.url }}
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Media Type</label>
                <!-- <select class="form-control" name="media_type_id">
                    {% for media in media %}
                    <option>{{ media|capfirst }}</option>
                    {% endfor %}
                </select> -->
                {{ form.media_type }}
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect2">Department</label>
                <!-- <select multiple class="form-control" name="department_id">
                    {% for department in department %}
                    <option>{{ department }}</option>
                    {% endfor %}
                </select>
                <small class="text-muted">
                    To select more than one, hold command⌘ key.
                </small> -->
                {{ form.department }}
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <!-- <textarea class="form-control" rows="3" placeholder="Description" name="description"></textarea> -->
                {{ form.description }}
            </div>

            <div class="form-group">
                    <label for="url">Tags</label>
                    <!-- <input type="url" class="form-control" placeholder="URL" name="url"> -->
                    {{ form.tag }}
                    <!--<small class="text-muted">
                            Separate tags with commas(,).
                        </small> -->
            </div>

            <div class="checkbox">
                <label> Is it free?
                    {{ form.is_free }}
                </label>
            </div>
            <br/>

          <button type="submit" class="btn btn-primary">Add Resource</button>

        </form>
    </div>
</body>

{% endblock %}