{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
<main role="main">
<section class="jumbotron text-center bg-gray">
    <div class="container">
        <h1 class="jumbotron-heading" style="line-height:80%; font-weight: 200" ><img src="{% static 'logo2.png' %}" height=39 style="padding-bottom: 7px"/> RESOURCE CENTER</h1>
        <p class="lead text-muted">Find your resources here</p>
        <div class="row">
            <form class="form-inline" action="{% url 'dashboard:searchResult' %}" method="get">
              {% csrf_token %}
              <input class="form-control mr-sm-2" type="search" name ="q" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div id="filterDepartment" class="btn-group btn-group-toggle">
                <button class="btn btn-primary" role="button" data-filter="sts_filter">STS</button>
                <button class="btn btn-primary" role="button" data-filter="id_filter">ID</button>
                <button class="btn btn-primary" role="button" data-filter="se_filter">SE</button>
                <button class="btn btn-primary" role="button" data-filter="pm_filter">PM</button>
                <a class="btn btn-primary" href="{% url 'home' %}" role="button" data-filter="all_filter">All</a>
            </div>
            <form id="se_filter" method="get" action="{% url 'dashboard:SEFilter' %}" name="se_filter">
              {% csrf_token %}
              <input type="hidden" />
            </form>
            <form id="pm_filter" method="get" action="{% url 'dashboard:PMFilter' %}" name="pm_filter">
              {% csrf_token %}
              <input type="hidden" />
            </form>
            <form id="sts_filter" method="get" action="{% url 'dashboard:STSFilter' %}" name="sts_filter">
              {% csrf_token %}
              <input type="hidden" />
            </form>
            <form id="id_filter" method="get" action="{% url 'dashboard:IDFilter' %}" name="id_filter">
              {% csrf_token %}
              <input type="hidden" />
            </form>
        </div>
    </div>
</section>
<div class="album py-5">
  {% if not query %}
    <div class="container">
        {% for learningResource in learningResources %}
          <div>
            <div style="border: 1px solid #D7D6D6; padding: 2px; height: 80px; display:flex; justify-content: space-between;">
              {% if learningResource.title|length > 50 %}
                <h4>{{ learningResource.short_title }}</h4>
              {% else %}
                <h4>{{ learningResource.title }}</h4>
              {% endif %}
              <div style="padding: 2px;">{{ learningResource.department }}</div>
              <a onclick="javascript:window.location.href='{% url 'detail' learningResource.id %}';"
                 class="btn btn-primary animated pulse"
                 role="button"
                 aria-pressed="true"
                 style="float: right;
                        background:
                        linear-gradient(to right, rgb(36, 198, 220), rgb(81, 74, 157));
                        margin: 0 auto;
                        width: 15%;
                        height: 50%;">
                        See details</a>
              <!-- <div class="col-6" onclick="window.location='{% url 'detail' learningResource.id %}';" style="cursor: pointer;"> -->

          </div>
          <br/>
        {%endfor%}
    </div>
</div>
{% endif %}
<div class="album py-5">
    <div class="container" style="margin-top: -60px;">
        <div class="row">
          {% include 'search.html' %}
        </div>
    </div>
</div>
</main>
{% endblock %}
